<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ilearncentral">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="iLearnCentral"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.AccountSettings"
            android:label="@string/title_activity_account_settings"></activity>
        <activity android:name=".Activity.SignUp.SIgnUpStudent" />
        <activity android:name=".Activity.SignUp.SignUpEducator" />
        <activity android:name=".Activity.Messages" />
        <activity android:name=".Fragment.JobPost" />

        <activity android:name=".Activity.Chat" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chat_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity
            android:name=".Activity.Home"
            android:label="@string/title_activity_home" />
        <activity android:name=".Fragment.Feed" />
        <activity android:name=".Activity.UserPages">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUp.SignUpLearningCenter" />
        <activity android:name=".Activity.SignUp.SignUpUsers" />
        <activity android:name=".Activity.AccountTypeSelection" />
        <activity
            android:name=".Activity.Login"
            android:screenOrientation="portrait" />
    </application>

</manifest>