<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ilearncentral">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.EnrolmentPaymentRecords"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Activity.NveClass" />
        <activity
            android:name=".Activity.NveBankAccountDetail"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.ViewResume"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.EnrolmentPayment"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.Payment"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.ViewCourses" />
        <activity android:name=".Activity.Applicants" />
        <activity android:name=".Activity.Enrollees" />
        <activity
            android:name=".Activity.SplashScreen"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.NveCourse" /> <!-- <activity android:name=".Fragment.SubSystem.EnrolmentSystem" /> -->
        <activity
            android:name=".Activity.ViewLearningCenter"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SearchCenter"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.ViewUser"
            android:label="@string/title_activity_view_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NveJobPost"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.AddUpdateResume"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.AddEditFeed"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SearchUser"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SignUp.CreateUser"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.Update.UpdateLearningCenter"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.Update.UpdateAccount"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.Update.UpdateProfile"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.ForgotPassword"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.AccountSettings"
            android:label="@string/title_activity_account_settings" />
        <activity
            android:name=".Activity.Messages"
            android:configChanges="orientation|screenSize" /> <!-- <activity android:name=".Fragment.JobPost" /> -->
        <activity
            android:name=".Activity.Chat"
            android:configChanges="orientation|screenSize" />
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/chat_icon" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" /> <!-- Google Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".Activity.Subscription"
            android:label="@string/title_activity_home" /> <!-- <activity android:name=".Fragment.Feed" /> -->
        <activity
            android:name=".Activity.Main"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SignUp.SignUpLearningCenter"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SignUp.SignUpOthers"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".Activity.SignUp.SignUpUsers"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".Activity.AccountTypeSelection" />
        <activity
            android:name=".Activity.Login"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.project.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>